/* ====================Кольори===================== */

:root{
    --iris: #4d5ae5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --nb-modal: #2E2F4266;
    --grey: #2E2F42B2;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

/* ====================Обнулення===================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}



address {
    font-style: normal;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
} 

.container{
    padding-left: 16px;
    padding-right: 16px;
}
/* ================== HEAD MOBILE STYLES ================== */

.nav-menu{
    display: none;
}

.header-logo{    
    display: flex;
    align-items: center;
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway; 
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.03em;
    word-wrap: break-word; 
}

.color-logo{
    color: #2E2F42;
}

.mobile-open-btn{
    border: none;
    background-color: transparent;
    padding: 0;
}

.mobile-open-btn-icon{
    color: #2F2F37;

}



/* ================== /HEAD MOBILE STYLES ================== */



/* ===================== MEDIA ===================== */
/* ||||||||||||||||||||| MEDIA ||||||||||||||||||||| */
/* ===================== MEDIA ===================== */



/* ===================== MEDIA 320 ===================== */
@media screen and (min-width: 320){
    .container{
         width: 320px;
         margin-left: auto;
         margin-right: auto;  
    }

    
}

/* ===================== MEDIA 768 ===================== */

@media screen and (min-width: 768px){
    .container{
         width: 768px;
    }

    .nav-menu{
        display: flex;
    }

}


/* ===================== MEDIA 1158 ===================== */

@media screen and (min-width: 1158px){
    .container{
         width: 1158px;
    }
}
